# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET
bin/
obj/
TestResults/
*.db
*.db-shm
*.db-wal
*.nupkg
*.snupkg

# Node / Angular
node_modules/
dist/
build/
coverage/
.angular/
.npm/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local git commit templates
.gitmessage.txt
.gitmessage*
